<% layout('layouts/boilerplate') %> 

<div class="row mb-4">
    <div class="col-6 offset-3">
        <div class="card">
            <img src="<%= camp.image %> " class="card-img-top ">
            <div class="card-body">
              <h5 class="card-title">Campground <%= camp.title %> </h5>
              <p class="card-text"><%= camp.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> Location:<%= camp.location %></li>
              <li class="list-group-item">Price: $<%= camp.price %>nigth</li>
            </ul>
            <div class="card-body">
              <a href="/api/campgrounds/<%= camp._id %>/edit " class="card-link btn btn-info">Edit</a>
              <form class="d-inline" action="/api/campgrounds/<%= camp._id %>?_method=DELETE" method="post">
                <button class="btn btn-danger">DELETE CAMPGROUND</button>
            </form>
            </div>
            <div class="card-footer text-muted">
                <a href="/api/campgrounds">All Campgrounds</a>
            </div>
          </div>
    </div>
</div>
