<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/styles/stars.css">

<div class="row mb-4">
    <div class="col-6 ">
      <div id='map' style='width: 400px; height: 300px;'></div>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% camp.images.forEach((img, i)=>{ %>
            <div class="carousel-item <%= i == 0 ? 'active' : '' %> ">
              <img src="<%= img.url %>" class="d-block w-100" alt="">
            </div>
          <% }) %>  
          
        </div>
        <% if(camp.images.length > 1){ %> 
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %> 
      </div>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Campground <%= camp.title %> </h5>
              <p class="card-text"><%= camp.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> Location:<%= camp.location %></li>
              <li class="list-group-item">Submited By: <b><%= camp.author.username %> </b></li>
              <li class="list-group-item">Price: $<%= camp.price %>/nigth</li>
            </ul>
            <% if(usuario && camp.author.equals(usuario._id)){ %> 
            <div class="card-body">
              <a href="/api/campgrounds/<%= camp._id %>/edit " class="card-link btn btn-info">Edit</a>
              <form class="d-inline" action="/api/campgrounds/<%= camp._id %>?_method=DELETE" method="post">
                <button class="btn btn-danger">DELETE CAMPGROUND</button>
            </form>
            </div>
            <% } %> 
            <div class="card-footer text-muted">
                <a href="/api/campgrounds">All Campgrounds</a>
            </div>
          </div>
        </div>
        <div class="col-6">
          <% if(usuario){ %> 
          <h3>Leave a review</h3>
          <form action="/api/campgrounds/<%= camp._id %>/reviews" method="post" novalidate class="validated-form mb-2">
            <fieldset class="starability-basic">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            <div class="mb-2">
              <label for="body" class="form-label">Review:</label>
              <textarea name="review[body]" id="body" cols="30" rows="4" class="form-control" required></textarea>
            </div>
            <button class="btn btn-success">Send</button>
          </form>
          <% } %> 
          <h4>Reviews</h4>
          <% if(camp.reviews.length != 0){ %> 
            <% for(let review of camp.reviews){ %>
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title ">
                    <% if(usuario && review.author.equals(usuario._id)){ %>
                    <form action="/api/campgrounds/<%= camp._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" class="d-inline">
                      <button class="material-symbols-outlined btn btn-danger btn-sm">delete</button>
                    </form>
                    <% } %> 
                    <h5 class="card-subtitle mb-1 text-muted ">
                      <%= review.author.username %> 
                    </h5>
                      <p class="starability-result mx-0 px-0 " data-rating="<%= review.rating %>">
                        Rate
                      </p>
                  </h5>
                  <p class="card-text"> <%= review.body %> </p>
                </div>
              </div>
              <% } %>  
          <% }else{ %>
            <h4>There is not Reviews Yet</h4>
          <% } %>   
    </div>
</div>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campground = <%- JSON.stringify(camp) %>
</script>

<script src="/showPageMap.js"></script>